#carouselHome{
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
    opacity: .7;

    min-width: 100%;
    min-height: 100%;
  }

#carouselHome h3{
  color: black;
}

#carouselHome h1{
  color: black;
}