<div class="modal-header">
  <h3 class="modal-title">About</h3>
</div>
<div class="modal-body">
  <p class="text-left">
    Have you ever been to an unfamiliar place or just wanted to try something different? Worry no more! FindYourWay is the application
    you want to use. FindYourWay will ask you a series of questions and give recommendations based on your answers.
  </p>
  <p class="text-left">Utilizing the Google Places API, the application filters through all the establishments in the area, and helps you discover
    new places. Let us help you FindYourWay.</p>
</div>
