<div class="modal-header">
  <h4 class="modal-title">About</h4>
</div>
<div class="modal-body">
  <p class="text-left">
    Have you ever been to an unfamiliar place or just want to try something different? Worry no more, FindYourWay is the application
    you want to use. FindYourWay will ask users series of questions and give recommendations based on their answers. Utilizing
    the Google Places API, the application can filter through all the establishments in the area, and helps the user discover
    new places. Let us help you FindYourWay.
  </p>
</div>
