<ul class = "list-group">Oooh, trying to see the area?  What do you feel like seeing?
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-a-c-a'>Just some local attractions</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/questions-a-c-b'>I am a person of knowledge, show me some exhibits</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/questions-a-c-c'>I love me some animals</a></li>
</ul>
<button class="btn btn-warning btn-sm" (click)="goBack()">Go back</button>