<ul class = "list-group">What are you in the mood for?
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-b-a-a'>Burgers?</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-b-a-b'>Pizza?</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-b-a-c'>Tacos?</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-b-a-d'>Hotdogs?</a></li>
</ul>
<button class="btn btn-warning btn-sm" (click)="goBack()">go back</button>