<ul class = "list-group">Nice, trying to get dem gainz? What do you feel like doing
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-a-b-a'>I wanna hit a gym</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/questions-a-b-b'>Looking to get into some sports?</a></li>
  <li routerLinkActive="active current"><a class="nav-link" routerLink='/questions-a-b-c'>Just some casual activites</a></li>
</ul>
<button class="btn btn-warning btn-sm" (click)="goBack()">Go back</button>