<form>
  First Name:<br>
  <input type = "text" name = "firstname">
  <br><br>
  Last Name:<br>
  <input type = "text" name = "lastname">
  <br><br>
  E-mail:<br>
  <input type = "text" name = "email">
  <br><br>
  Username:<br>
  <input type = "text" name = "username">
  <br><br>
  Password:<br>
  <input type = "password" name = "password">
  <br><br>
  Location:<br>
  <button type = "button" (click)="locator()"><img src="https://image.flaticon.com/icons/svg/35/35247.svg"></button>
  <br><br>
</form>>
