<form>
  First Name:<br>
  <input type = "text" name = "firstname" [(ngModel)]= "currUser.firstname">
  <br>
  Last Name:<br>
  <input type = "text" name = "lastname"[(ngModel)]= "currUser.lastname">
  <br>
  E-mail:<br>
  <input type = "text" name = "email" [(ngModel)]= "currUser.email">
  <br>
  Username:<br>
  <input type = "text" name = "username" [(ngModel)]= "currUser.username" >
  <br>
  Password:<br>
  <input type = "password" name = "password" [(ngModel)]= "currUser.password">
  <br>
  Location:<br>
  <input type = "text" name = "address" value = "{{this.currUser.Lat|number:'.3'}}, {{this.currUser.Long|number:'.3'}}" [(ngModel)]= "currUser.location" disabled >
  <button type = "button" (click)="locator()"><img src="https://image.flaticon.com/icons/svg/35/35247.svg" height = "20" width = "20"></button>
  <br><br>
<button type = "submit" (click)="submit()" >Update</button>

</form>
