<ul class = "list-group">What do you feel like doing today?
    <li routerLinkActive="active current"><a class="nav-link" routerLink='/questions-a'>Going out!</a></li>
    <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-b'>Getting some grub</a></li>
    <li routerLinkActive="active current"><a class="nav-link" routerLink='/question-c'>I wanna party!</a></li>
    <li routerLinkActive="active current"disabled><a class="nav-link" routerLink='/questions-??'>Surprise me</a></li>
</ul>