<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active current">
        <a class="nav-link" routerLink='/login'>Login</a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" routerLink='/register'>Register</a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" routerLink='/favorite'>Favorite</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-link" (click)="openVerticallyCentered(about)">About</li>

      <li class="nav-link" (click)="openVerticallyCentered(content)">Help</li>
    </ul>
  </div>

  <ng-template #content let-c="close" let-d="dismiss"> 
    <app-help></app-help>
  </ng-template>

  <ng-template #about let-c="close" let-d="dismiss"> 
    <app-about></app-about>
  </ng-template>
</nav>