<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active current">
        <a class="nav-link" routerLink='/home'>Home</a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" *ngIf="!loggedin" routerLink='/login'>Login</a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" *ngIf="!loggedin" routerLink='/register'>Register</a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" *ngIf="loggedin" routerLink='/favorite'>Favorite</a>
      </li>
      <li routerLinkActive="active current">
        <a class="nav-link" *ngIf="loggedin" routerLink='/update'>Profile</a>
      </li>
      <li class="nav-link" *ngIf="loggedin" routerLink='/login' (click)="logout()">Log Out</li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-link" *ngIf="admincheck==2" routerLink='/admin-page'>Admin</li>
      <li class="nav-link" (click)="openVerticallyCentered(about)">About</li>

      <li class="nav-link" (click)="openVerticallyCentered(content)">Help</li>
    </ul>
  </div>
  <!-- <ion-item *ngIf="(user$ | async)?.anonymouse">
    <ion-label>Login</ion-label>
</ion-item> -->
  <ng-template #content let-c="close" let-d="dismiss">
    <app-help></app-help>
  </ng-template>

  <ng-template #about let-c="close" let-d="dismiss">
    <app-about></app-about>
  </ng-template>
</nav>

<ng-template #coupon let-c="close" let-d="dismiss">
  <app-coupon></app-coupon>
</ng-template>

<div id="coupons" align="right" *ngIf="loggedin">
  <span class="badge badge-success">Points: {{points}}
    <img src="https://image.flaticon.com/icons/svg/254/254209.svg" *ngIf="points>499" height="25" width="20"
      (click)="openVerticallyCenteredCoupon(coupon)">
  </span>
</div>
